# Verification

Regen Registry is establishing an ecosystem of Verifiers to provide independent verification services following the guidelines in the Program Guide’s Monitoring section.

Once the approval process of the Credit Class and Methodology has been completed, Credit Designers are required to identify and train at least one Verifier - whether from the existing approved ones or a new one - to provide verification services based on the new Credit Class and Methodology.

Note, this is required only for Credit Classes that include independent verification.
